.selectedPage{
    font-weight: bold;
    color: gold;
    border: 1px solid gold;
    padding: 3px;
}
.pageNumber{
    cursor: pointer;
    margin: 5px;
}
.btn{
    cursor: pointer;
}
.box_pagination{
    margin: 7px;
}